In [10]:
import pandas as pd
import numpy as np
import random

# Lets create the DataFrame
regionCountry = {"AMR":["USA","Canada"],"EUROPE":["Austria","Belgium"]}
cars = ["Audi","BMW","Mercedes"]
weeks = ["WK_1","WK_2","WK_3"]
salesData = []
for region,countries in regionCountry.items():
    for country in countries:
        for car in cars:
            for week in weeks:
                salesRecord = {"region":region,"country":country,"car":car,"week":week}
                salesRecord["Sales_unit"] = random.randint(100,2000)
                salesData.append(salesRecord)
             
df = pd.DataFrame(salesData)
print(df.shape)
print(df.head(5))

(36, 5)
  region country   car  week  Sales_unit
0    AMR     USA  Audi  WK_1        1787
1    AMR     USA  Audi  WK_2         186
2    AMR     USA  Audi  WK_3        1046
3    AMR     USA   BMW  WK_1        1978
4    AMR     USA   BMW  WK_2        1345

### Pivoting on 2 columns , car sales will roll up

In [11]:
df1 = pd.pivot_table(df,index=["region","country","car"],aggfunc=np.sum)
print(df1)

                         Sales_unit
region country car
AMR    Canada  Audi            3964
               BMW             3583
               Mercedes        2332
       USA     Audi            3019
               BMW             4801
               Mercedes        3656
EUROPE Austria Audi            4794
               BMW             3380
               Mercedes        1687
       Belgium Audi            1975
               BMW             4367
               Mercedes        4153

In [12]:
# Multi Level Column Pivot
df3 = pd.pivot_table(df,index=["region","country"],columns=["car","week"],aggfunc=np.sum)
print(df3)

               Sales_unit
car                  Audi               BMW             Mercedes
week                 WK_1  WK_2  WK_3  WK_1  WK_2  WK_3     WK_1  WK_2  WK_3
region country
AMR    Canada        1008   993  1963  1741   533  1309     1580   238   514
       USA           1787   186  1046  1978  1345  1478     1445   617  1594
EUROPE Austria        992  1838  1964   844  1254  1282      975   152   560
       Belgium        660  1121   194  1665  1993   709     1929  1431   793

In [14]:
df4 = pd.pivot_table(df,index=["region","country"],columns=["car"],aggfunc=np.sum)
print(df4)

               Sales_unit
car                  Audi   BMW Mercedes
region country
AMR    Canada        3964  3583     2332
       USA           3019  4801     3656
EUROPE Austria       4794  3380     1687
       Belgium       1975  4367     4153

In [15]:
# Adding a total column to the pivot table
df5 = pd.pivot_table(df,index=["region","country"],columns=["week"], aggfunc=np.sum,margins = True, margins_name='Total')
print(df5)

               Sales_unit
week                 WK_1   WK_2   WK_3  Total
region country
AMR    Canada        4329   1764   3786   9879
       USA           5210   2148   4118  11476
EUROPE Austria       2811   3244   3806   9861
       Belgium       4254   4545   1696  10495
Total               16604  11701  13406  41711

In [16]:
df6 = df.pivot_table(values='Sales_unit', index = ['region','country'], \
                     columns= ['car'], \
                     aggfunc= ['mean','sum'], \
                     margins = True, margins_name='Agg')
print(df6)

                       mean                                           sum  \
car                    Audi          BMW     Mercedes          Agg   Audi
region country
AMR    Canada   1321.333333  1194.333333   777.333333  1097.666667   3964
       USA      1006.333333  1600.333333  1218.666667  1275.111111   3019
EUROPE Austria  1598.000000  1126.666667   562.333333  1095.666667   4794
       Belgium   658.333333  1455.666667  1384.333333  1166.111111   1975
Agg             1146.000000  1344.250000   985.666667  1158.638889  13752


car               BMW Mercedes    Agg
region country
AMR    Canada    3583     2332   9879
       USA       4801     3656  11476
EUROPE Austria   3380     1687   9861
       Belgium   4367     4153  10495
Agg             16131    11828  41711

# DataFrame Filter

In [28]:
df7 = df[(df["region"]=='AMR') & (df['car'] == 'Audi')]
print(df7)

   region country   car  week  Sales_unit
0     AMR     USA  Audi  WK_1        1787
1     AMR     USA  Audi  WK_2         186
2     AMR     USA  Audi  WK_3        1046
9     AMR  Canada  Audi  WK_1        1008
10    AMR  Canada  Audi  WK_2         993
11    AMR  Canada  Audi  WK_3        1963

# Group By

In [18]:
gdf1 = df.groupby(['region','country']).sum()
print(gdf1)

                Sales_unit
region country
AMR    Canada         9879
       USA           11476
EUROPE Austria        9861
       Belgium       10495

In [19]:
gdf2 = df.groupby(['region',"country","car"],sort=True).sum()
print(gdf2)

                         Sales_unit
region country car
AMR    Canada  Audi            3964
               BMW             3583
               Mercedes        2332
       USA     Audi            3019
               BMW             4801
               Mercedes        3656
EUROPE Austria Audi            4794
               BMW             3380
               Mercedes        1687
       Belgium Audi            1975
               BMW             4367
               Mercedes        4153

In [20]:
# groupby and get_group

gdf3 = df.groupby(["country","car"]).get_group(('USA','Audi'))
print(gdf3)

  region country   car  week  Sales_unit
0    AMR     USA  Audi  WK_1        1787
1    AMR     USA  Audi  WK_2         186
2    AMR     USA  Audi  WK_3        1046

In [21]:
gdf4 = df.groupby(["region","car"]).get_group(('AMR','Audi'))
print(gdf4)

   region country   car  week  Sales_unit
0     AMR     USA  Audi  WK_1        1787
1     AMR     USA  Audi  WK_2         186
2     AMR     USA  Audi  WK_3        1046
9     AMR  Canada  Audi  WK_1        1008
10    AMR  Canada  Audi  WK_2         993
11    AMR  Canada  Audi  WK_3        1963

In [22]:
# Using Numpy Functions for groupby aggregates
gdf5 = df.groupby(['region','car']).aggregate(np.sum)
print(gdf5)

                 Sales_unit
region car
AMR    Audi            6983
       BMW             8384
       Mercedes        5988
EUROPE Audi            6769
       BMW             7747
       Mercedes        5840

In [23]:
# Using Multiple Aggregate functions in DataFrame groupby

gdf6 = df.groupby(['region','car']).aggregate([np.sum,np.mean])
print(gdf6)

                Sales_unit
                       sum         mean
region car
AMR    Audi           6983  1163.833333
       BMW            8384  1397.333333
       Mercedes       5988   998.000000
EUROPE Audi           6769  1128.166667
       BMW            7747  1291.166667
       Mercedes       5840   973.333333

# Query

In [24]:
qdf1 = df[(df.car == 'Audi') & (df.country == 'USA')]
print(qdf1)

  region country   car  week  Sales_unit
0    AMR     USA  Audi  WK_1        1787
1    AMR     USA  Audi  WK_2         186
2    AMR     USA  Audi  WK_3        1046

In [25]:
qdf2 = df.query("car == 'Audi' & country == 'USA'")
print(qdf2)

  region country   car  week  Sales_unit
0    AMR     USA  Audi  WK_1        1787
1    AMR     USA  Audi  WK_2         186
2    AMR     USA  Audi  WK_3        1046